* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    user-select: none;
}
body {
    background-color: var(--light);
    color: var(--dark);
    padding: 0;
    margin: 0;       
}
::-webkit-scrollbar {
    display: none;
}
.container{
    padding-left: 14px;
    padding-right: 14px;
}


.categories {
    padding: 0 10px 20px;
}
.section-title {
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}
.menu-grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s ease;
    position: relative;
}
.menu-item:active {
    transform: scale(0.95);
}
.menu-icon {
    width: 50px;
    height: 50px;
    border-radius: 13px;
    display: flex;
    padding: 3px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    font-size: 24px;
    color: var(--primary);
    position: relative;
}

.game .menu-icon img {
    filter: none !important;
    border-radius: 10px;
    width: 45px;
    height: 45px;
}
.menu-name {
    font-size: 11px;
    font-weight: 500;
    color: black;
}
a{
    text-decoration: none;
}
.riwayat{
    border-bottom: 1px solid var(--f1);
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.riwayat h3{
    font-size: 13px;
    font-weight: 500;
    color: black;
}
.riwayat .tanggal{
    font-size: 11px;
    color: gray;
    width: 100%;
    text-align: right;
}
.transaksi-terbaru{
    padding: 10px;
    background: white;
    border-radius: 10px;
    margin-top: 10px;
}
.header-trx{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--f1);
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-bottom: 15px;
}
.header-trx h5{
    width: 100%;
    font-size: 14px;
    padding-left: 6px;
    font-weight: 500;
    color: black;
}
.header-trx i{
    color: gray;
    opacity: .7;
    margin-right: 6px;
    font-size: 15px;
}
.riwayat img{
    width: 40px;
    border-radius: 100px;
    padding: 5px;
    background: var(--alice);
}
.riwayat .status{
    padding: 0px;
    border-radius: 100px;
    font-size: 11px;
    font-weight: 400;
    width: 100%;
}
.status-selesai {
    color: green;
}
.status-gagal {
    color: red;
}
.status-pending {
    color: orange;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background: var(--primary);
    height: 155px;
    border-radius: 0px;
}
.fix-header{
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: var(--primary);
}
.fix-header img{
    width: 35px;
    filter: invert(100%) sepia(14%) saturate(7400%) hue-rotate(172deg) brightness(112%) contrast(119%);
}
.fix-header h5 {
    width: 175px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;          
    text-overflow: ellipsis;  
}
.fix-header .total-trx{
    position: absolute;
    right: 15px;
    top: 15px;    
}
.fix-header button{
    border: none;
    color: white;
    background: rgba(0, 0, 0, 0.247);
    padding: 3px 15px;
    border-radius: 100px;
    font-size: 12px;
}
.saldo-panel{
    padding: 14px;
    border-radius: 20px;
background: rgba(255, 255, 255, 0.4);
    margin-top: 60px;
    position: relative;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-bottom: 3px solid var(--f1);
}
.balance{
    display: flex;
    align-items: center;
    gap: 14px;
    width: 100%;
background: rgba(255, 255, 255, 0.40);
    border-radius: 15px;
    margin-bottom: 20px;
    overflow: hidden;
}
.saldo-balance,.poin-balance{
    width: 100%;
    padding-left: 15px;
}
.saldo-balance p,.poin-balance p{
    font-size: 12px;
    color: black;
    opacity: .7;
    margin-bottom: 2px;
}
.saldo-balance h5,.poin-balance h5{
    font-size: 15px;
    color: black;
}
.saldo-balance{
    border-right: 2px solid #ebebeb;
}
.Qris{
    background: rgba(0, 74, 173, 0.73);
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.terlaris{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.terlaris-header{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}
.terlaris-header h5{
    width: 100%;
}
.img-terlaris{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 10px;
}
.img-terlaris img{
    border-radius: 100px;
    border: 2px solid var(--alice);
    background: white;
}
.img-terlaris img:nth-child(1) {
  width: 30px;
  margin-right: -10px;
}
.img-terlaris img:nth-child(2) {
  width: 28px;
  margin-right: -10px;
}
.img-terlaris img:nth-child(3) {
  width: 26px;
  margin-right: -10px;
}
.img-terlaris img:nth-child(4) {
  width: 24px;
  margin-right: -10px;
}
.img-terlaris img:nth-child(5) {
  width: 22px;
}
@keyframes pulseSize {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.img-terlaris img {
  animation-name: pulseSize;
  animation-duration: 4.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.img-terlaris img:nth-child(1) {
  animation-delay: 0s;
}
.img-terlaris img:nth-child(2) {
  animation-delay: 0.3s;
}
.img-terlaris img:nth-child(3) {
  animation-delay: 0.6s;
}
.img-terlaris img:nth-child(4) {
  animation-delay: 0.9s;
}
.img-terlaris img:nth-child(5) {
  animation-delay: 1.2s;
}

hr{
    padding: 4px;
    background: var(--alice);
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 100px;
}
.empty-data{
    text-align: center;
    margin-top: 50px;
}
.empty-data img{
    width: 50px;
}
.empty-data p{
    font-size: 13px;
    color: gray;
    font-weight: 400;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s linear;
  z-index: 9999;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.offcanvas {
  position: fixed;
  bottom: -100vh;
  left: 0;
  width: 100%;
  background: #fff;
  transition: bottom 0.2s ease-out;
  z-index: 999999999;
  border-radius: 20px 20px 0 0;
  max-height: 90vh;
  overflow: hidden;
}

.offcanvas.active {
  bottom: 0;
}


.offcanvas-body {
  padding: 10px;
  max-height: 70vh;
  overflow-y: auto;
}

.lis{
    width: 70px;
    top: -12px;
    position: relative;
    height: 2px;
    padding: 4px;
    background: var(--primary);
    border-radius: 0px 0px 15px 15px;
    border: none;
}

.scrollmenu {
    overflow-x: auto;
    display: flex;
    gap: 10px;
    cursor: grab;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
}
.scrollmenu.active {
    cursor: grabbing;
}
.scrollmenu .card-news {
    padding: 10px;
    background: white;
    border-radius: 15px;
    width: 155px;
    overflow: hidden;
    flex: 0 0 auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border: 1px solid #f1f1f1;
    border-bottom: 3px solid #f1f1f1;
    white-space: normal;
}

.card-news img {
    width: 100%;
    border-radius: 15px;
}

.card-news p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    max-height: 2.8em;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-news button{
    font-size: 11px;
    border: none;
    background: var(--primary);
    color: white;
    font-weight: 400;
    padding: 2px 10px;
    border-radius: 100px;
}
.flx{
    display: flex;
    align-items: center;
}
.flx i{
    color: var(--primary);
}

.lite-panel {
  position: fixed;
  top: 0;
  left: -100%; 
  width: 65%;
  height: 100%;
  background: #ffffff;
  transition: left 0.3s ease;
  z-index: 1001;
}

.lite-panel.active {
  left: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  float: right;
  cursor: pointer;
}

.lite-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  z-index: 1000;
}

.lite-overlay.active {
  opacity: 1;
  visibility: visible;
}
.lite-panel button{
    display: flex;
    align-items: center;
    gap: 14px;
    border: none;
    background: transparent;
    width: 100%;
    margin-top: 23px;
    padding-left: 18px;
}
.lite-panel button h5{
    font-size: 14px;
    font-weight: 500;
}
.lite-panel button i{
    font-size: 17px;
    opacity: .7;
}
.header-litepanel{
    padding: 25px;
    background: var(--primary);
    color: white;
    text-align: center;
}
.header-litepanel img{
    width: 55px;
    border-radius: 100px;
    border: 2px solid #ffffff;
}

.btm{
    position: fixed;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
}
.akun-saya{
    padding: 10px 20px;
    border: none;
    background: var(--primary);
    border-radius: 100px;
    color: white;
}
.box-akun{
    padding: 15px;
    border-radius: 10px;
    background: #f1f1f1;
    margin-top: 10px;
}
.pulse {
   width: 22.4px;
   height: 22.4px;
   border-radius: 50%;
   background: var(--primary);
   box-shadow: 0 0 0 0 rgba(0,74,173,0.5);
   animation: pulse-kefe91md 1.5s infinite linear;
   position: relative;
   margin: 40px auto !important;
}
.pulse:before,
.pulse:after {
   content: "";
   position: absolute;
   inset: 0;
   border-radius: inherit;
   box-shadow: 0 0 0 0 rgba(0,74,173,0.5);
   animation: inherit;
   animation-delay: -0.5s;
}
.pulse:after {
   animation-delay: -1s;
}
@keyframes pulse-kefe91md {
   100% {
      box-shadow: 0 0 0 44.8px #0000;
   }
}
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0; top: 0; width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: white;
  padding: 20px;
  padding-top: 35px;
  padding-bottom: 20px;
  border-radius: 8px;
  max-width: 300px;
  text-align: left;
  position: relative;
  font-size: 14px;
  font-weight: 400;
}
.modal-content h6{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    font-weight: bold;
    color: red;
}
.modal-content p{
    background: aliceblue;
    padding: 14px;
    border-radius: 12px;
}
.close {
  position: absolute;
  right: 5px; top: 5px;
  padding-bottom: 3px;
  font-size: 22px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}
.d-none{
    display: none;
}
.d-flex{
    display: flex;
    align-items: center;
}
.pil-produk{
    background: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border: 1px solid #f1f1f1;
    width: 100%;
    position: relative;
    margin-top: 10px;
    padding-left: 5px;
}
.pil-produk img{
    width: 50px;
    height: 50px;
    margin: 0 !important;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border: 1px solid #f1f1f1;
}

.pil-produk h4{
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis;
    margin: 0;
    height: auto; 
    font-weight: 500;
    margin-bottom: 3px;
}
.pil-produk p{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-right: 5px;
    margin-top: 0px;
}

.pil-produk s{
    font-size: 10px;
    color: red;
    margin: 0;
    font-weight: 500;
}


.the--diskon{
    background: #f1f1f1;
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.ribbon {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
.ribbon {
  --f: .4em;
  --r: .8em;
  position: absolute;
  right: 10px;
  top: calc(-1*var(--f));
  padding: .2em;
  border: solid #0000;
  border-width: 0 0 var(--r) calc(2*var(--f));
  background: 
 radial-gradient(50% 100% at bottom,#0005 98%,#0000 101%) 
    0 0/calc(2*var(--f)) var(--f) no-repeat border-box;
  background-color: red;
  border-radius: var(--f) var(--f) 0 0;
  clip-path: polygon(0 0,100% 0,100% 100%,calc(50% + var(--f)) calc(100% - var(--r)),calc(2*var(--f)) 100%,calc(2*var(--f)) var(--f),0 var(--f));
}
.time-sale{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.time-sale h5{
    margin: 0;
    font-size: 12px;
    margin-right: 10px;
}
#countdown p{
    background: red;
    border-radius: 100px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}.data-stok{
    margin-bottom: 10px;
}
.data-stok img{
   width: 15px;
   position: relative;
   left: -8px;
   top: -2px;
}
.data-stok h5{
    font-size: 11px;
    margin: 0;
    margin-right: 5px;
}
.uwvs{
    background: red;
    padding: 5px;
    border-radius: 100px;
    opacity: .6;
    width: 103%;
}
.uwv{
    display: flex;
    align-items: center;
}

#product-container2 {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  gap: 10px; 
  padding-left: 0px;
  padding-right: 10px;
}
div.scrollmenu2 {
  background-color: transparent;
  overflow: auto;
  white-space: nowrap;
  padding-top: 5px;
}
#product-container2 .pil-produk{
  width: 200px;
  display: flex;
  align-items: center;
}
@-webkit-keyframes flash {
  0% { opacity: 1; } 
  50% { opacity: .1; } 
  100% { opacity: 1; }
}
@keyframes flash {
  0% { opacity: 1; } 
  50% { opacity: .1; } 
  100% { opacity: 1; }
}
.pil-produk{
  height: auto !important;
}
#countdown {
    font-size: 13px;
    font-weight: bold;
}

#countdown span {
    display: inline-block;
    min-width: 30px;
    text-align: center;
    color: red;
}
.flashsale-page{
    padding: 14px;
    background: aliceblue;
    border-radius: 15px;
}
#productModal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:999;
    background-color:rgba(0,0,0,0.5);
}
.box-co-flashsale{
    background:#fff;
    margin:10% auto;
    padding:20px;
    border-radius:8px;
    width:90%;
    max-width:400px;
    position:relative;
}
.close-co{
    position:absolute;
    top:-3px;
    right:15px;
    cursor:pointer;
    font-size:35px;
    color: gray;
    font-weight: bold;

}
.input-co{
    width:100%;
    padding:10px;
    outline: none;
    margin:10px 0;
    border:2px solid #f1f1f1;
    border-radius:8px;
    font-size: 15px;
}
.input-co:hover{
    border:2px solid var(--primary);
}
.konfirm-co{
    padding:10px 20px;
    background-color:var(--primary);
    color:#fff;
    border:none;
    border-radius:10px;
    cursor:pointer;
    width: 100%;
    font-size: 15px;
}
.produk-co{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.produk-co img{
    width: 40px;
    border-radius: 10px;
}
.produk-co h3{
    font-size: 14px;
    margin: 0;
    font-weight: 550;
}
.produk-co p{
    font-size: 13px;
    margin: 0;
}
.label-co{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 15px;
}
.wd-bg-header{
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    z-index: 9;
}
.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px;
    min-height:100px;
    max-height:150px;
  }
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }

  @keyframes move-forever {
    0% {
      transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  @media (max-width: 768px) {
    .waves {
      height:70px;
      min-height:10px;
    }
  }